body {
  padding-top: 70px;
}
h1 {
  text-align: center;
}
.jumbotron {
  color: #2c3e50;
  background: #ecf0f1;
}
.navbar-inverse {
  background: #2c3e50;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.navbar-inverse .navbar-brand {
  color: white;
}

.resize {
    max-height: 95vh;
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto
   }
